*{
box-sizing: border-box;
}

body{
  font-family: Raleway;
}

.form{
position: absolute;
tob:50%;
left: 30%;
 transform: translate(50%,50%);
width: 300px; 
box-shadow: 5px 5px 10px 5px #ccc;
}

.form .tab-heder{
height: 50px;
line-height: 50px;

}