/* .carousel-item {
    height: 29rem;
    background:#777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;

} 
#picContainuerText{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    padding-bottom: 50px;

} */
  .dropdown:hover .dropdown-menu{
                display: block;
            }
          
 